// container
.container {
  padding-left: $gutter-m;
  padding-right: $gutter-m;
  margin-left: auto;
  margin-right: auto;
  &:not(.full-width) {
    max-width: $container-sm;
    @include min-break(1024) {
      max-width: $container-xl;
    }
  }
  // full width
  &.full-width {
    @include min-break(1280) {
      padding-left: 3.125rem;
      padding-right: 3.125rem;
    }
    @include min-break(1360) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
}