// Hero
.site-hero {
  text-align: center;
  padding-top: 1.875rem;
  @include min-break(1024) {
    padding-top: 9.375rem;
  }
  .entry-title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    @include min-break(1024) {
      font-size: 4.125rem;
    }
  }
  .entry-description {
    font-size: .9375rem;
    max-width: 41.25rem;
    margin-left: auto;
    margin-right: auto;
    color: $slate10;
    @include min-break(1024) {
      font-size: 1.25rem;
    }
  }
}

// Main
.site-main {
  padding-top: 1.875rem;
  @include min-break(1024) {
    padding-top: 2.5rem;
  }
  // search form
  .search-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.875rem;
    .search-icon {
      position: absolute;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $slate8;
      left: 0;
      width: 2.5rem;
      height: 100%;
      @include min-break(1024) {
        width: 3.75rem;
      }
      svg {
        width: 1.875rem;
        height: 1.875rem;
        @include min-break(1024) {
          width: 2.125rem;
          height: 2.125rem;
        }
      }
    }
    input {
      display: inline-flex;
      align-items: center;
      font-size: .9375rem;
      font-weight: 500;
      letter-spacing: $letter-spacing;
      line-height: 1;
      width: 100%;
      height: 2.5rem;
      padding-left: 2.625rem;
      padding-right: .9375rem;
      border-radius: $border-radius-medium;
      border: 1px solid $slate6;
      box-shadow: $--shadow-base;
      transition: all .2s $bezier;
      &::placeholder {
        color: $slate8;
      }
      @include min-break(1024) {
        font-size: 1rem;
        height: 4rem;
        border-radius: $border-radius-large;
        padding-left: 3.875rem;
      }
      &:hover {
        border-color: $slate7;
      }
      &:active, &:focus {
        box-shadow: $--shadow-lg;
      }
    }
  }
}

// icon tags
.icon-tags {
  margin-bottom: 1.875rem;
  @include min-break(1024) {
    margin-bottom: 3.75rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .3125rem;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: .8125rem;
        height: 1.9375rem;
        padding-left: .8125rem;
        padding-right: .8125rem;
        background-color: rgba($color: $slate4, $alpha: 0.7);
        border-radius: $border-radius-small;
        transition: all .2s $bezier;
        .icon-name {
          font-weight: 500;
          color: $--color-black;
        }
        .icon-count {
          position: relative;
          font-size: .625rem;
          font-weight: 600;
          letter-spacing: -0.03em;
          margin-left: .25rem;
          color: $slate9;
        }
        &:hover {
          background-color: rgba($color: $slate7, $alpha: 0.7);
        }
        &.active {
          background-color: $--color-black;
          .icon-name {
            color: $--color-white;
          }
        }
      }
    }
  }
}

// icons group
.icons-group {
  margin-bottom: 1.875rem;
  @include min-break(1024) {
    margin-bottom: 6.25rem;
  }
  .icons-group-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
    .entry-title {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0;
      padding-right: 1.25rem;
    }
    .header-line {
      flex: 1 1 0%;
      height: 1px;
      background-color: $slate5;
    }
  }
  .icons-group-body {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: -.625rem;
      padding: 0;
      li {
        text-align: center;
        flex: 0 0 25%;
        max-width: 25%;
        padding: .625rem;
        @include min-break(768px) {
          flex: 0 0 16.66666%;
          max-width: 16.66666%;
        }
        @include min-break(1024) {
          flex: 0 0 12.5%;
          max-width: 12.5%;
        }
        .icon {
          display: flex;
          align-items: center;
          flex-direction: column;
          i {
            transition: all .35s $bezier-second;
          }
          .copied-text {
            position: absolute;
            font-size: .875rem;
            font-weight: 600;
            color: $orange10;
            top: 60%;
            opacity: 0;
            transform: translateY(.375rem);
            transition: all .35s $bezier;
          }
        }
        .icon-wrapper {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          border: 1px solid $slate6;
          border-radius: $border-radius-medium;
          width: 100%;
          min-height: 8.75rem;
          .icon-copy {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: .1875rem;
            inset: .1875rem;
            opacity: 0;
            visibility: hidden;
            will-change: opacity;
            transition: all .2s $bezier;
            & > * {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              flex: 1;
              font-size: .8125rem;
              font-weight: 600;
              border-radius: $border-radius-small;
              background-color: rgba($color: $slate3, $alpha: 0.95);
              transition: all .1s $bezier;
              cursor: pointer;
              &:hover {
                background-color: rgba($color: $slate6, $alpha: 0.95);
              }
            }
          }
          &:hover {
            .icon-copy {
              opacity: 1;
              visibility: visible;
            }
            & + .icon-name {
              color: $--color-black;
            }
          }
          &.copied-icon {
            .icon-copy {
              opacity: 0;
              visibility: hidden;
            }
            .icon {
              i {
                transform: translateY(-.375rem);
              }
              .copied-text {
                opacity: 1;
                transform: translateX(0);
              }
            }
          }
        }
        .icon-name {
          display: block;
          font-size: .8125rem;
          font-weight: 500;
          color: $slate9;
          margin-top: .3125rem;
          margin-bottom: .3125rem;
          transition: all .1s $bezier;
          &:hover {
            color: $--color-black;
          }
        }
      }
    }
  }
}